.grid-container {
  @include border(#000000);
  margin: 200px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: minmax(100px, 400px);
  @include background-color;
  .cell1 {
    @extend .cell;
    grid-row: 1;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
  }
  .cell2 {
    @extend .cell;
    grid-row: 2/4;
    grid-column: 2;
  }
  .cell3 {
    @extend .cell;
    grid-row: 3;
    grid-column: 1/4;
  }
}
.cell {
  @include border($cell-border-color);
  height: 100px;
  padding: 25px;
}
.middle {
  height: 200px;
  width: 1000px;
  border: 2px solid red;
  @include set-middle;
  div {
    height: 200px;
    width: 200px;
    border: 1px solid blue;
    background-color: green;
  }
}
