@import 'layout.css';
.grid-container {
  border: 2px solid black;
  margin: 200px;
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-auto-rows: minmax(100px, 400px);
}
.cell {
  background-color: rgba(237, 147, 15, 0.4);
  height: 100px;

  padding: 25px;
  border: 2px solid rgba(237, 147, 15, 1);
}
.cell1 {
  grid-row: 1;
  grid-column: 1/3;
  align-self: center;
  justify-self: center;
}
.cell2 {
  grid-row: 2/4;
  grid-column: 2;
}
.cell3 {
  grid-row: 3;
  grid-column: 1/4;
}
