@import 'layout.css';

.container {
  width: 1000px;
  height: 1000px;
  margin: auto;
  border: 2px solid black;
  margin: 100px;
  position: relative;
}

.static {
  position: static;
}
.relative {
  position: relative;
  top: 25px;
  left: 25px;
}
/* positon accroding to his ancestor element which set attribute position */
.absolute {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* position for browser window (view port)*/
.fixed {
  position: fixed;
  top: 10px;
  left: 10px;
}
.sticky {
  position: sticky;
  top: 10px;
  left: 10px;
}

/* //z-index set to negative value cannont change the stack */
